.card-placeholder {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px dashed rgba(255, 255, 255, 0.2);
}
.hero-card {
  height: 100%;
}
.hero-card img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}
.hero-card .card-body {
  padding: 0.5rem;
}
.hero-card .card-title {
  font-size: 0.9rem;
  margin-bottom: 0;
  text-align: center;
}
